    <%= render 'search/form' %>

        <table class="table "  >
    
    <thead>
        
    </thead>
    
    <div class="space" ></div>
    <tbody  class="aya" >
       
            <tr>
               
                    <div class="aya"><td ><%= @tafser.tafser %></td></div>
               
            </tr>
    
          
    </tbody>
    
</table>